.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebar {
  background-color: var(--primary);
  width: 20%;
  height: 100%;
  left: 0;
  top: 0;
}

.content {
  left: 20%;
  background-color: var(--black);
  width: 60%;
  height: 100%;
}

.notification {
  background-color: var(--primary);
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
}
