* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{

    --black: rgb(10,23,33);
    --white: #ffffff;
    --gray: #656566;
    --blue: #76A9FF;
    --primary: #2A2731;
}


.text-white{
    color: var(--white);
}

.text-gray{
    color: var(--gray);
}


html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6 rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    height: 100%;
}

.fixed{
    position: fixed;
}

button {
    border: none;
    outline: none;
}

a{
    text-decoration: none;
    color: black;
}