.account-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  img{
    width: 60px;
    height: 60px;
  }
  .name {
    font-size: 2rem;
    text-align: center;
  }
}

.account-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .content {
    width: 60%;
    display: flex;
    flex-direction: column;
    .name {
      font-size: 2rem;
    }
    .react {
      font-size: 1.5rem;
    }
    .message {
      font-size: 1.5rem;
    }
  }
  .more {
    font-size: 2rem;
  }
}

.account_message:hover {
  cursor: pointer;
  background-color: #3c3844;
}

.account_message:active {
  background-color: #3c3844;
}
