.account-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: var(--white);
  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .username {
      font-size: 2rem;
      text-align: center;
    }

    .fullname {
    }
  }
}

.account-item:hover {
  cursor: pointer;
  background-color: #3c3844;
  border-radius: 20px;
}

.account-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .content {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    .name {
      font-size: 2rem;
    }
    .react {
      font-size: 1.5rem;
    }
    .message {
      font-size: 1.5rem;
    }
  }
  .more {
    font-size: 2rem;
  }
}

.account_message:hover {
  cursor: pointer;
  background-color: #3c3844;
}

.account_message:active {
  background-color: #3c3844;
}
