.wrapper {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  .header-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 80%;

    .header-title {
      font-size: 3rem;
      font-weight: 600;
      color: var(--gray);
    }
  }

  .header-notification {
    position: relative;

    svg {
      background-color: var(--gray);
      border-radius: 50%;
      padding: 5px;
    }

    span {
      position: absolute;
      display: block;
      top: -15px;
      right: -5px;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      background-color: var(--blue);
      text-align: center;
      line-height: 3rem;
      font-size: 2rem;
      color: var(--black);
    }
  }
}

.status {
  margin-top: 20px;

  .status-content {
    .status-title {
      font-size: 2rem;
    }

    .status-list {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.message-list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}