.wrapper {
  padding: 40px;

  .header {
    .search {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-color: var(--black);
      border-radius: 25px;
      width: 100%;
      height: 40px;
      input {
        width: 50%;
        background-color: transparent;
        border: none;
        color: var(--white);
      }

      svg {
        width: 25px;
        height: 25px;
      }

      .icon-search {
        color: var(--white);
      }

      .icon-delete {
        color: rgb(37, 84, 146);
      }
    }
  }

  .profile {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h1 {
      color: var(--white);
      font-size: 2rem;
    }

    h2 {
      color: var(--gray);
      font-size: 2rem;
    }

    .more {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  .notification-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 50px;
    .notification-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
      color: var(--white);
      svg {
        width: 40px;
        height: 40px;
        color: var(--gray);
      }
      button {
        width: 40px;
        height: 40px;
        background-color: var(--gray);
        color: var(--white);
        border-radius: 50%;
      }
    }
  }
  .content {
    margin-top: 50px;
  }

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    span,
    a {
      font-size: 1.5rem;
    }
    span {
      color: var(--white);
      text-transform: uppercase;
    }
    a {
      color: #6890d8;
    }
  }
  .media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 80%;
      align-items: center;
      img {
        border-radius: 5px;
        width: 70px;
        height: 70px;
        object-fit: cover;
      }
    }
  }

  .file {
    margin-top: 50px;
    width: 100%;
    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .item {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        img {
          width: 60px;
          height: 60px;
          object-fit: cover;
        }

        .text {
          span {
            color: var(--white);
            font-size: 2rem;
          }

          p {
            color: var(--gray);
            font-size: 1.5rem;
          }
        }
      }

      .item:hover {
        background-color: #3c3844;
      }
    }
  }
}
