.account-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: var(--white);
}
.account-item:hover {
  cursor: pointer;
  background-color: #3c3844;
  border-radius: 20px;
}
.account-message:hover {
  cursor: pointer;
}

.account-current {
  background-color: #252f3c;
  border-radius: 8px;
}
.account_message:hover {
  cursor: pointer;
  background-color: #3c3844;
}
.account_message:active {
  background-color: #3c3844;
}
.account-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.status__content_account {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  .status__content--avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
  }
  .status__content--username {
    font-size: 1.5rem;
    color: var(--white);
  }
}

.status__content_account:hover {
  cursor: pointer;
}
@media only screen and (min-width: 992px) {
  .account-item {
    img {
      width: 35px;
      height: 35px;
      object-fit: cover;
    }
    .content {
      display: flex;
      flex-direction: column;
      .username {
        font-size: 1.8rem;
      }
      .fullname {
        font-size: 1.2rem;
      }
    }
  }
  .account-message {
    padding: 10px;
    height: 60px;
    img {
      width: 45px;
      height: 45px;
      object-fit: cover;
    }
    .content {
      width: 60%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      .name {
        font-size: 1.6rem;
      }
      .react {
        font-size: 1.3rem;
      }
      .message {
        font-size: 1.3rem;
      }
    }
    .more {
      font-size: 1.5rem;
    }
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  .account-item {
    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
    .content {
      display: flex;
      flex-direction: column;
      .username {
        font-size: 2rem;
      }
      .fullname {
        font-size: 1.5rem;
      }
    }
  }
  .account-message {
    padding: 10px;
    height: 60px;
    .content {
      width: 60%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      .name {
        font-size: 1.5rem;
      }
      .react {
        font-size: 1.5rem;
      }
      .message {
        font-size: 1.5rem;
      }
    }
    .more {
      font-size: 1.5rem;
    }
  }
}
@media only screen and (max-width: 425px) {
  .account-item {
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
    .content {
      display: flex;
      flex-direction: column;
      text-align: left;
      .username {
        font-size: 2rem;
      }
      .fullname {
        font-size: 1.5rem;
      }
    }
  }
  .account-message {
    padding: 10px;
    height: 60px;
    .content {
      width: 60%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      .name {
        font-size: 1.5rem;
      }
      .react {
        font-size: 1.5rem;
      }
      .message {
        font-size: 1.5rem;
      }
    }
    .more {
      font-size: 1.5rem;
    }
  }
}
