.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebar {
  background-color: var(--primary);
}

.content {
  background-color: var(--black);
}

.notification {
  background-color: var(--primary);
}

@media only screen and (min-width: 1025px) {
  .sidebar {
    width: 20%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .content {
    left: 20%;
    width: 60%;
    height: 100%;
  }

  .notification {
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .sidebar {
    width: 25%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .content {
    left: 25%;
    width: 50%;
    height: 100%;
  }

  .notification {
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .sidebar {
    width: 25%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .content {
    left: 25%;
    width: 50%;
    height: 100%;
  }

  .notification {
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .sidebar {
    width: 25%;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  .content {
    width: 100%;
    height: 100%;
  }

  .notification {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
