* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #2a2731;
  --black: rgb(10, 23, 33);
  --white: #ffffff;
  --gray: #656566;
  --blue: #76a9ff;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
  width: 5px !important;
}
::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--gray);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:active {
  cursor: pointer;
}

::-webkit-scrollbar:vertical {
  height: 20px;
}

.text-white {
  color: var(--white);
}

.text-gray {
  color: var(--gray);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6 rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  height: 100%;
}

input:focus {
  outline: none;
}

.fixed {
  position: fixed;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}
