.image {
  border-radius: 50%;
  object-fit: cover;
}

.image:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .image {
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
  }
}
