.icon-back {
  display: none;
}
@media only screen and (min-width: 1025px) {
  .popper {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popper--wrapper {
    width: 200px !important;
    height: 150px !important;
    display: flex;
    align-items: center;
    ul {
      list-style-type: none;

      li:hover {
        cursor: pointer;
      }
    }
    color: var(--white) !important;
  }

  .wrapper {
    padding: 20px;
    height: 100%;

    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      h1 {
        color: var(--white);
        font-size: 2rem;
      }

      h2 {
        color: var(--gray);
        font-size: 2rem;
      }

      &__more {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    .notification {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      height: 50px;

      &__item {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        color: var(--white);

        svg {
          width: 30px;
          height: 30px;
          color: var(--gray);
        }

        button {
          width: 30px;
          height: 30px;
          background-color: var(--gray);
          color: var(--white);
          font-weight: 600;
          border-radius: 50%;
        }
      }
    }

    .content__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      span,
      a {
        font-size: 1.5rem;
      }

      span {
        color: var(--white);
        text-transform: uppercase;
      }

      a {
        color: #6890d8;
      }
    }
    .content__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      span,
      a {
        font-size: 1.5rem;
      }

      span {
        color: var(--white);
        text-transform: uppercase;
      }

      a {
        color: #6890d8;
      }
    }

    .content {
      margin-top: 30px;

      &__media {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__item {
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 80%;
          align-items: center;

          img {
            border-radius: 5px;
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
        }
      }

      &__file {
        margin-top: 20px;
        width: 100%;

        &__content {
          margin-top: 10px;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          &__item {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            img {
              width: 50px;
              height: 50px;
              object-fit: cover;
            }

            &__text {
              span {
                color: var(--white);
                font-size: 2rem;
              }

              p {
                color: var(--gray);
                font-size: 1.5rem;
              }
            }
          }

          &__item:hover {
            background-color: #3c3844;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .popper {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popper--wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    ul {
      list-style-type: none;

      li:hover {
        cursor: pointer;
      }
    }
    color: var(--white) !important;
  }

  .wrapper {
    padding: 20px;
    height: 100%;

    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      h1 {
        color: var(--white);
        font-size: 2rem;
      }

      h2 {
        color: var(--gray);
        font-size: 2rem;
      }

      &__more {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    .notification {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      height: 50px;

      &__item {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        color: var(--white);

        svg {
          width: 30px;
          height: 30px;
          color: var(--gray);
        }

        button {
          width: 30px;
          height: 30px;
          background-color: var(--gray);
          color: var(--white);
          font-weight: 600;
          border-radius: 50%;
        }
      }
    }

    .content__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      span,
      a {
        font-size: 1rem;
      }

      span {
        color: var(--white);
        text-transform: uppercase;
      }

      a {
        color: #6890d8;
      }
    }
    .content__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      span,
      a {
        font-size: 1rem;
      }

      span {
        color: var(--white);
        text-transform: uppercase;
      }

      a {
        color: #6890d8;
      }
    }

    .content {
      margin-top: 30px;

      &__media {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__item {
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100%;
          align-items: center;

          img {
            border-radius: 5px;
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
        }
      }

      &__file {
        margin-top: 20px;
        width: 100%;

        &__content {
          margin-top: 10px;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          &__item {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            img {
              width: 60px;
              height: 60px;
              object-fit: cover;
            }

            &__text {
              span {
                color: var(--white);
                font-size: 1.5rem;
              }

              p {
                color: var(--gray);
                font-size: 1.5rem;
              }
            }
          }

          &__item:hover {
            background-color: #3c3844;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .popper {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popper--wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    ul {
      list-style-type: none;

      li:hover {
        cursor: pointer;
      }
    }
    color: var(--white) !important;
  }

  .wrapper {
    padding: 20px 10px;
    height: 100%;

    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      h1 {
        color: var(--white);
        font-size: 2rem;
      }

      h2 {
        color: var(--gray);
        font-size: 1.5rem;
      }

      &__more {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;

        svg {
          width: 25px;
          height: 25px;
        }
      }
    }

    .notification {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      height: 50px;

      &__item {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        color: var(--white);

        svg {
          width: 30px;
          height: 30px;
          color: var(--gray);
        }

        button {
          width: 30px;
          height: 30px;
          background-color: var(--gray);
          color: var(--white);
          font-weight: 600;
          border-radius: 50%;
        }
      }
    }

    .content__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      span,
      a {
        font-size: 1rem;
      }

      span {
        color: var(--white);
        text-transform: uppercase;
      }

      a {
        color: #6890d8;
      }
    }
    .content__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      span,
      a {
        font-size: 1rem;
      }

      span {
        color: var(--white);
        text-transform: uppercase;
      }

      a {
        color: #6890d8;
      }
    }

    .content {
      margin-top: 40px;

      &__media {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__item {
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100%;
          align-items: center;

          img {
            border-radius: 5px;
            width: 70px;
            height: 70px;
            object-fit: cover;
          }
        }
      }

      &__file {
        margin-top: 20px;
        width: 100%;

        &__content {
          margin-top: 10px;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;

          &__item {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            img {
              width: 60px;
              height: 60px;
              object-fit: cover;
            }

            &__text {
              span {
                color: var(--white);
                font-size: 1.3rem;
              }

              p {
                color: var(--gray);
                font-size: 1.2rem;
              }
            }
          }

          &__item:hover {
            background-color: #3c3844;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .popper {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popper--wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    ul {
      list-style-type: none;

      li:hover {
        cursor: pointer;
      }
    }
    color: var(--white) !important;
  }

  .wrapper {
    padding: 20px;
    height: 100%;

    .settings {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .icon-back {
      font-size: 3rem;
      display: block;
      color: var(--white);
    }

    .icon-back:hover {
      cursor: pointer;
    }
    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      img {
        width: 100px;
        height: 100px;
      }
      h1 {
        color: var(--white);
        font-size: 3rem;
      }

      h2 {
        color: var(--gray);
        font-size: 2rem;
      }

      &__more {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    .notification {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      height: 50px;

      &__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        font-size: 1rem;
        color: var(--white);

        svg {
          width: 30px;
          height: 30px;
          color: var(--gray);
        }

        button {
          width: 30px;
          height: 30px;
          background-color: var(--gray);
          color: var(--white);
          font-weight: 600;
          border-radius: 50%;
        }
      }
    }

    .content__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      span,
      a {
        font-size: 1rem;
      }

      span {
        color: var(--white);
        text-transform: uppercase;
      }

      a {
        color: #6890d8;
      }
    }
    .content__heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      span,
      a {
        font-size: 1rem;
      }

      span {
        color: var(--white);
        text-transform: uppercase;
      }

      a {
        color: #6890d8;
      }
    }

    .content {
      margin-top: 40px;

      &__media {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__item {
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 20px;
          width: 100%;

          img {
            border-radius: 5px;
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
        }
      }

      &__file {
        margin-top: 20px;
        width: 100%;

        &__content {
          margin-top: 10px;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;

          &__item {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            img {
              border-radius: 5px;
              width: 50px;
              height: 50px;
              object-fit: cover;
            }

            &__text {
              span {
                color: var(--white);
                font-size: 2rem;
              }

              p {
                color: var(--gray);
                font-size: 1.5rem;
              }
            }
          }

          &__item:hover {
            background-color: #3c3844;
          }
        }
      }
    }
  }
}
