.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &--icon {
      position: absolute;
      left: 30px;
      bottom: 5px;
      width: 10px;
      height: 10px;
      color: var(--white);
      background-color: var(--gray);
      border-radius: 50%;
      padding: 5px;
      box-sizing: border-box;
    }
    &__content {
      display: flex;
      flex-direction: row;
    }

    &__notification:hover {
      cursor: pointer;
    }
    &__notification {
      position: relative;

      svg {
        background-color: var(--gray);
        border-radius: 50%;
        fill: var(--white);
      }

      span {
        position: absolute;
        display: block;
        background-color: var(--blue);
        text-align: center;
        color: var(--black);
      }
    }
  }

  .status {
    &__search {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--black);
      justify-content: space-evenly;

      input {
        background-color: transparent;
        border: none;
        color: var(--white);
      }

      &--icon-search:hover {
        cursor: pointer;
      }
      &--icon-search {
        color: var(--white);
      }

      &--icon-delete {
        color: rgb(37, 84, 146);
      }
      &--icon-delete:hover {
        cursor: pointer;
      }
    }

    .status__content {
      .status__list {
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        height: 90px;
      }
    }
  }

  .message__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 1025px) {
  .wrapper {
    padding: 20px;
    width: 100%;
    height: 100%;
    gap: 40px;
    .header {
      height: 100px;

      &__content {
        gap: 10px;
        width: 80%;

        &--title {
          font-size: 2rem;
          font-weight: 600;
          color: var(--white);
        }
      }

      &__notification {
        svg {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          padding: 10px;
        }

        span {
          top: -15px;
          right: -5px;
          border-radius: 50%;
          width: 2.5rem;
          height: 2.5rem;
          line-height: 2.5rem;
          font-size: 1.5rem;
        }
      }
    }

    .status {
      &__search {
        border-radius: 25px;
        width: 100%;
        height: 40px;

        input {
          width: 50%;

          font-size: 1.5rem;
          font-weight: 600;
        }

        svg {
          width: 25px;
          height: 25px;
        }
      }

      .status__content {
        margin-top: 20px;
        &--title {
          font-size: 2rem;
        }

        .status__list {
          margin-top: 10px;
        }
      }
    }

    .message__list {
      gap: 10px;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .wrapper {
    padding: 20px;
    width: 100%;
    height: 100%;

    gap: 40px;
    .header {
      height: 100px;

      &__content {
        gap: 10px;
        width: 80%;

        &--title {
          font-size: 2rem;
          font-weight: 600;
          color: var(--white);
        }
      }

      &__notification {
        position: relative;

        svg {
          width: 45px;
          height: 45px;
          background-color: var(--gray);
          border-radius: 50%;
          padding: 10px;
          fill: var(--white);
        }

        span {
          position: absolute;
          display: block;
          top: -5px;
          right: -5px;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          background-color: var(--blue);
          text-align: center;
          line-height: 3rem;
          font-size: 2rem;
          color: var(--black);
        }
      }
    }

    .status {
      &__search {
        border-radius: 25px;
        width: 100%;
        height: 40px;

        input {
          width: 50%;

          font-size: 1.5rem;
          font-weight: 600;
        }

        svg {
          width: 25px;
          height: 25px;
        }
      }

      .status__content {
        margin-top: 10px;
        &--title {
          font-size: 2rem;
        }

        .status__list {
          margin-top: 10px;
        }
      }
    }

    .message__list {
      gap: 20px;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  img {
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
  }
  .wrapper {
    padding: 20px 10px;
    width: 100%;
    height: 100%;

    gap: 40px;
    .header {
      height: 70px;

      &__content {
        gap: 10px;
        width: 80%;

        &--title {
          font-size: 2rem;
          font-weight: 600;
          color: var(--gray);
        }
      }

      &__notification {
        position: relative;

        svg {
          width: 25px;
          height: 25px;
          background-color: var(--gray);
          border-radius: 50%;
          fill: var(--white);
        }

        span {
          position: absolute;
          display: block;
          top: -15px;
          right: -5px;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          background-color: var(--blue);
          text-align: center;
          line-height: 3rem;
          font-size: 2rem;
          color: var(--black);
        }
      }
    }
    .status {
      &__search {
        border-radius: 25px;
        width: 100%;
        height: 30px;

        input {
          width: 50%;

          font-size: 1.5rem;
          font-weight: 600;
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }

      .status__content {
        margin-top: 10px;
        &--title {
          font-size: 2rem;
        }

        .status__list {
          margin-top: 10px;
        }
      }
    }

    .message__list {
      gap: 10px;
      height: 100%;
      padding: 0;
    }
  }
}

@media only screen and (max-width: 425px) {
  img {
    width: 40px;
    height: 40px;
  }
  .wrapper {
    padding: 20px 20px;
    width: 100%;
    height: 100%;

    gap: 20px;
    .header {
      height: 70px;
      &--icon {
        position: absolute;
        left: 22px;
        bottom: 5px;
        width: 10px;
        height: 10px;
        color: var(--white);
        background-color: var(--gray);
        border-radius: 50%;
        padding: 5px;
        box-sizing: border-box;
      }
      &__content {
        gap: 10px;
        width: 80%;

        &--title {
          font-size: 2rem;
          font-weight: 600;
          color: var(--gray);
        }
      }

      &__notification {
        position: relative;

        svg {
          width: 40px;
          height: 40px;
          padding: 10px;
          background-color: var(--gray);
          border-radius: 50%;
          fill: var(--white);
        }

        span {
          position: absolute;
          display: block;
          top: -8px;
          right: 0px;
          border-radius: 50%;
          width: 22px;
          height: 22px;
          background-color: var(--blue);
          text-align: center;
          line-height: 2rem;
          font-size: 1.4rem;
          font-weight: 500;
          color: var(--black);
        }
      }
    }
    .status {
      &__search {
        border-radius: 25px;
        width: 100%;
        height: 40px;

        input {
          width: 50%;
          height: 60px;

          font-size: 1.5rem;
          font-weight: 600;
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }

      .status__content {
        margin-top: 10px;
        &--title {
          font-size: 2rem;
        }

        .status__list {
          margin-top: 10px;
        }
      }
    }

    .message__list {
      gap: 10px;
      height: 100%;
      padding: 0;
    }
  }
}
