input {
  border: none;
}

.btn-submit:hover {
  cursor: pointer;
}

@media only screen and (min-width: 426px) {
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    font-size: 2rem;

    input {
      border-radius: 20px;
      border: none;
      padding: 8px;
      height: 45px;
    }
    input:focus {
      outline: none;
    }
    .avatar__image {
      margin: auto;
      margin-bottom: 10px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
    .register {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      padding: 40px;
      gap: 15px;
      width: 500px;
      height: 800px;
      color: var(--white);
      background-color: var(--black);

      &__heading {
        font-size: 2rem;
        text-align: center;
      }

      &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        button {
          margin-top: 20px;
          border-radius: 25px;
          height: 50px;
          background-color: var(--blue);
          text-transform: uppercase;
          font-weight: 600;
          font-size: 2rem;
          color: var(--white);
        }

        &__item {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      &__link {
        text-align: center;
        a {
          color: var(--white);
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .avatar__image {
    margin: auto;
    margin-bottom: 20px;
    width: 120px !important;
    height: 120px !important;
    border-radius: 50%;
  }
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    font-size: 2rem;

    input {
      height: 45px;
      border-radius: 20px;
      padding: 8px;
    }
    input:focus {
      outline: none;
    }
    .register {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      background-color: var(--black);
      border-radius: 0 20px 20px 0;
      padding: 5px 20px;
      width: 500px;
      height: 100%;
      color: var(--white);

      &__heading {
        font-size: 2rem;
        text-align: center;
      }

      &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
          margin-top: 20px;
          border-radius: 25px;
          height: 40px;
          background-color: var(--blue);
          text-transform: uppercase;
          font-weight: 600;
          font-size: 2rem;
          color: var(--white);
        }

        &__item {
          display: flex;
          flex-direction: column;
          gap: 1px;
        }
      }

      &__link {
        text-align: center;
        a {
          color: var(--white);
        }
      }
    }
  }
}
