.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary);
  font-size: 1.5rem;
  color: var(--white);
  font-size: 2rem;

  a {
    color: var(--white);
  }
  input {
    height: 45px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 20px;
  }
  input:focus {
    outline: none;
  }

  .login {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    border-radius: 20px;
    background-color: var(--black);
    width: 500px;
    height: 550px;

    &__heading {
      text-align: center;
      font-size: 2rem;
    }

    &__content__main {
      display: flex;
      flex-direction: column;
      gap: 40px;
      button {
        border-radius: 25px;
        height: 50px;
        background-color: var(--blue);
        font-size: 2rem;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
      }
      button:hover {
        cursor: pointer;
      }
      &__item {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      &__forget {
        text-align: right;
      }
    }

    &__signup {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
      &__icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
      }
    }
  }

  svg:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary);
    font-size: 1.5rem;
    color: var(--white);
    font-size: 2rem;

    a {
      color: var(--white);
    }
    input {
      height: 45px;
      padding: 8px;
      border: none;
      border-bottom: 1px solid gray;
      border-radius: 20px;
    }
    input:focus {
      outline: none;
    }

    .login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px 20px;
      border-radius: 20px;
      background-color: var(--black);
      width: 500px;
      height: 100%;

      &__heading {
        text-align: center;
        font-size: 2rem;
      }

      &__content__main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        button {
          border-radius: 25px;
          height: 50px;
          background-color: var(--blue);
          font-size: 2rem;
          color: white;
          text-transform: uppercase;
          font-weight: 600;
        }
        button:hover {
          cursor: pointer;
        }
        &__item {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }

        &__forget {
          text-align: right;
        }
      }

      &__signup {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        font-size: 2rem;
        &__icon {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 15px;
        }
      }
    }

    svg:hover {
      cursor: pointer;
    }
  }
}
