.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  background: var(--black);
  color: var(--white);
  padding: 20px;
  border-radius: 8px;
  padding-top: 8px;
  overflow-y: scroll;
  font-size: 1.5rem;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 15px;
    }
    li:hover {
      cursor: pointer;
      background-color: #3c3844;
      border-radius: 20px;
    }
  }
  img {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .wrapper {
    width: 35vh;
    font-size: 1.5rem;
    gap: 10px;
    ul {
      margin-top: 20px;
      gap: 5px;
      li {
        width: 100%;
        height: 40px;
        gap: 10px;
      }
    }
  }
  .search {
    width: 35vh;
    height: 35vh;
  }
}

@media only screen and (max-width: 992px) and (min-width: 426px) {
  .wrapper {
    width: 40vh;
    font-size: 1.5rem;
    gap: 10px;
    ul {
      gap: 5px;
      li {
        width: 100%;
        height: 40px;
        gap: 10px;
      }
    }
  }
  .search {
    width: 40vh;
    height: 40vh;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    width: 350px;
    font-size: 1.5rem;
    ul {
      gap: 5px;
      li {
        width: 100%;
        height: 40px;
        gap: 10px;
      }
    }
  }
  .search {
    width: 270px;
    height: 270px;
  }
}
