.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  background: var(--black);
  color: var(--black);
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  padding-top: 8px;
  overflow-y: scroll;

  img {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .wrapper {
    width: 200px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .wrapper {
    width: 150px;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    width: 350px;
  }
}
