.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  background: var(--black);
  color: var(--black);
  padding: 20px;
  width: 200px;
  height: 150px;
  border-radius: 8px;
  padding-top: 8px;
  overflow-y: scroll;
  font-size: 1.5rem;
  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  img {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .wrapper {
    max-width: 150px;
    font-size: 1.5rem;
    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    width: 250px;
    height: 150px;
    font-size: 1.5rem;
    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
